/* font style */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto:wght@100&family=Source+Sans+Pro:ital@1&display=swap');

/* body Common style */
body{
    margin: 0;
    background: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}
/* header style started */

header{
     
    left:40px;
    right: 10px;
    background: #161616;
    border-radius: 30px;
}
.header-content{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 70px;
} 
.header-info  h1 a{
    text-decoration: none;
    color: white;
    background-color: red;
    border-radius: 5px;

}
.header-image img{
    width: 60%;
    height: 100%;
}

h2,p{
    color: white;
}
/* Main Section Started */
.nav-style{
    margin-top: 10px;
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(1,fr);
}
.nav-container{
    width: 250px;
    height: 220px;
    background-color: #161616;
    border-radius: 10px;
    /* border: 1px solid green; */
    margin-left: 150px;
}
.nav-style a{
    text-decoration: none;
    background: #FFFFFF;
    margin-top: ;
    border-radius: 10px;
    margin: 10px 10px;
    text-align: center;
    padding: 2px;
    width: 220px;
    font-size: 20px;
    color: black;
}

