/* font style */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto:wght@100&family=Source+Sans+Pro:ital@1&display=swap');

/* body Common style */
body{
    margin: 0;
    background: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}
/* header style started */

header{
    margin: 5px; 
    left:40px;
    right: 10px;
    background: #161616;
    border-radius: 30px;
    margin-bottom: 50px;
}
.header-content{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 70px;
} 
.header-info  h1 a{
    text-decoration: none;
    color: white;
    background-color: red;
    border-radius: 5px;

}
.header-image img{
    width: 60%;
    height: 100%;
}

h2,.slogan{
    color: white;
}
/* Main Section Started */
.main-area{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.nav-style{
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(1,fr);
}
.nav-container .match{
    background-color: blue;
}
.nav-style .nav-blog:hover{
    background-color: darkgreen;
}
.nav-container{
    width: 250px;
    height: 220px;
    background-color: #161616;
    border-radius: 10px;
    /* border: 1px solid green; */
    margin-left: 5px;
}
.nav-style a{
    text-decoration: none;
    background: #FFFFFF;
    margin-top: 10px;
    border-radius: 10px;
    margin: 10px 10px;
    text-align: center;
    padding: 2px;
    width: 220px;
    font-size: 20px;
    color: black;
}
.fixture{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}
.matches{
    width: 312px;
    height: 170px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}
.thumbnail{
    display: flex;
}
.matches .thumbnail img{
    width: 130px;
    height: 80px;
}

/* footer styles start */
.footer-cntainer{
    width: 100%;
    background-color: #161616;
    height: 300px;
    margin-top: 20px;
}
.footer-text{

   color: #FFFFFF;
    margin-left: 550px;
    display: inline-block;
    margin-top: 80px;
}
hr{
   
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-left: 8%;
    margin-right: 8%;
}
.footer-link{
    width: 80%;
    margin-left: 120px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 5px;
}
.footer-link a{
    text-decoration: none;
    color: white;
    margin: 4px;
    font-weight: 600;
    font-size: 14px;
}
.social-midea{
    color: #FFFFFF;
    display: flex;
    justify-content:center;
    column-gap: 70px;
}